@*About us page to include company information and staff information etc*@

@{
    ViewData["Title"] = "About Us Page";
}
<style>
    div {
        width: 100%;
        background-color: rgb(225, 235, 238);
        font-family: 'PT Sans Caption', sans-serif;
        font-family: 'Tilt Neon', sans-serif;
    }
    h2 {
        background-color: white;
        margin: 1em;
    }

    .imgabout {
        width: 20%;
        margin:1em;
    }

    p {
        margin: 1em;
    }

</style>
<div class="text-center">
    <h1>About Us</h1>

    <img class="imgabout"  src="~/images/Towel1.jpg"/>
    <p>TowelHarbor specializes in crafting a diverse range of towels, including bath, kitchen, hand, and beach towels. We offer an array of materials to suit your preferences, ensuring softness, durability, and style. Experience premium quality and comfort with our versatile towel collection.</p>

    <h2>Headquarter</h2>

    <p>TowelHarbor boasts a global presence with headquarters strategically located in various countries, including the United States, China, India, Canada, and more. Our multinational footprint allows us to serve a wide range of customers worldwide, ensuring efficient distribution and timely access to our diverse towel products. At TowelHarbor, we take pride in our international reach, bringing exceptional quality and convenience to customers across the globe.</p>

    <img lass="imgabout" src="~/images/Towel2.jpg"/>
    <h2>Staffs</h2>

    <p>TowelHarbor thrives on the dedication of a global team of 10,000 passionate individuals. Their unwavering commitment and skillful craftsmanship drive the creation of our exceptional products. Our organization's success is a testament to the hard work and expertise of our dedicated staff members across the world.</p>


</div>