@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="logoimg"></div>

    <h1 class="display-4">TowelHarbor</h1>
    
    <p>Welcome to TowelHarbor, your one-stop destination for all things towels. Explore our extensive collection of high-quality towels designed to elevate your everyday experiences. From plush bath towels that envelop you in comfort to stylish kitchen towels that make daily chores a breeze, we have the perfect towels for every purpose. Discover a world of softness, absorbency, and style as you browse our curated selection. Whether you're looking for eco-friendly options or luxurious designs, TowelTreasures has you covered. Make every touch, dry, and wipe a moment of sheer indulgence with our handpicked range of towels.</p>
</div>
